html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

a {
  color: inherit;
  text-decoration: none;
}

sup {
  font-size: 12pt;
}

* {
  box-sizing: border-box;
  font-family: 
    ui-sans-serif, 
    system-ui, 
    -system-ui, 
    -apple-system,
    BlinkMacSystemFont,
    Roboto, Helvetica, Arial, 
    sans-serif, 
    "Apple Color Emoji";
}

html {
  margin-right: calc(100% - 100vw);
  overflow-x: hidden;
}

.swal-modal {
  width: unset !important;
  background-color: unset !important;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}
